.header {
  margin-bottom: 50px;
}

.logoWrapper {
  display: block;
  width: 180px;
  margin: 40px auto;
}

.intro {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.intro p {
  margin-bottom: 20px;
}

.h2 {
  font-weight: 300;
  font-size: 20px;
  color: $red;
}
