.footer {
  max-width: 600px;
  margin: auto;
  text-align: center;
  margin-bottom: 80px;
}


.h2 {
  font-weight: 300;
  font-size: 20px;
  color: $red;
}

.socialIcons {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 20px 0;
}

.icon {
  width: 30px;
  margin: 0 20px;
}

.email {
  composes: icon;
  padding-top: 5px;
}

.linkedIn {
  composes: icon;
}

.twitter {
  composes: icon;
  padding-top: 5px;
}
