.footer {
  max-width: 600px;
  margin: auto;
  text-align: center;
  margin-bottom: 80px;
}


.h2 {
  font-weight: 300;
  font-size: 20px;
  color: $red;
}

.socialIcons {

}

.icon {

}

.email {
  composes: icon;
}

.linkedIn {
  composes: icon;
}

.twitter {
  composes: icon;
}
