.timeLine {
  margin: 100px 0;
}

.yearWrapper {
  margin-left: 50%;
  transition: margin .5s ease-in-out;
}

.yearWrapperDetails {
    margin-left: 20%;
}

.yearEvents {
  border-left: solid 1px $gray;
}


.yearWrapper:first-of-type .month {
  min-height: 0px;
}

.year {
  margin: 20px auto;
  font-size: 24px;
  display: inline-block;
  margin-left: -26px;
}

.month {
  min-height: 20px;
}


/* Media Queries */

@media only screen and (max-width: 400px) {
  .yearWrapper {
    margin-left: 35%;
  }

  .yearWrapperDetails {
    margin-left: 5%;
  }
}
