.icon {
  transition: transform .1s ease-in-out;
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.2);
}

.icon path{
  fill: $gray;
}

.icon:hover path {
  fill: $red;

}

.close {
  width: 20px;
  height: 20px;
}

.close line {
  stroke: $darkGray;
}
